<section class="section section-city-guarantee" data-section="city-guarantee">
  <div class="container city-guarantee-two-col">
    <div class="city-guarantee-text-col">
      {{#if title}}<h2 class="section-title" data-editable="title">{{title}}</h2>{{/if}}
      {{#if text}}<div class="city-guarantee-text" data-editable="text">{{{text}}}</div>{{/if}}
    </div>
    <div class="city-guarantee-badge-col">
      <div class="city-guarantee-badge">
        <div class="guarantee-seal">
          <div class="guarantee-seal-inner">
            <div class="guarantee-seal-stars">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
            <div class="guarantee-seal-percent">{{percentage}}%</div>
            <div class="guarantee-seal-label">Satisfaction</div>
            <div class="guarantee-seal-label">garantie</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
