<section class="section section-guarantee" data-section="guarantee">
  <div class="container">
    {{#if title}}<h2 class="guarantee-title" data-editable="title">{{title}}</h2>{{/if}}
    {{#if text}}<div class="guarantee-text" data-editable="text">{{{text}}}</div>{{/if}}
  </div>
</section>
